{% extends 'base.html' %}
{% block indexwrap %}{% endblock %}
{% block title %}{{ blog.name }}{% endblock %}
{% block rel %}
<link rel="alternate" type="application/rss+xml" href="{{ site_url }}/articles/rss" />
<link rel="alternate" type="application/atom+xml" href="{{ site_url }}/articles/atom" />
{% endblock %}

{{ block.super }}

<div class="recent-blog-posts">
<h2>Recent posts</h2>

{% include 'blog/recent_posts.html' %}

<a class="button" href="{{ blog.get_absolute_url }}">Browse all posts &raquo;</a>
</div>

