{% extends 'blog/base.html' %}
{% load comments %}
{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block extra-head %}
{{ block.super }}
<meta name="description" content="{{ post.body|striptags|truncatewords:20 }}" />
{% endblock %}

{% block content %}
<div class="post">
  {% include 'blog/post.html' %}
</div>

{% get_comment_count for post as comment_count %}
<h3>Discussion</h3>
<a name="comments"></a>
{% if not comment_count %}
No comments yet... Yours could be the first!
{% endif %}

{% get_comment_list for post as cmt_list %}
{% for comment in cmt_list %}
<div class="post-comment">
  <a href="{{ comment.user_url }}">{{ comment.user_name }}</a> - {{ comment.submit_date|date:"F j, Y" }}
    {{ comment.comment|linebreaks  }}
</div>
{% endfor %}

<h3>Leave a Reply</h3>
<div class="post-comment-form">
    {% render_comment_form for post %}
</div>

<div class="pagenav">
  <a href="../../">Browse all posts &raquo;</a>
</div>
{% endblock %}
