{% load markup %}
{% load disqus_tags %}
{% if settings.DEGBUG %}{% disqus_dev %}{% endif %}
<div class="post-date">{{ post.date_published|date }} {% if not browse_posts %}[<a href="{{ object.get_absolute_url }}#disqus_thread">Comments</a>]{% disqus_num_replies %}{% endif %}</div>
<h2 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
{% if not browse_posts %}
<div class="post-byline">By {{ post.author.name }}</div>
<div id="post-tags">
  <ul class="inline-tag-list">
  {% for tags in post.tags.get_query_set %} 
    <li><a class="tag" href="/tag/{{ tags }}"><span>{{ tags.name }}</span></a></li>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% if browse_posts or object_list %}
{{ post.body|markdown|truncatewords_html:50 }} <p><a href="{{ post.get_absolute_url }}">continue reading</a></p>
{% else %}
{{ post.body|markdown }}
{% endif %}
