{% extends 'blog/base.html' %}
{% load disqus_tags %}
{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block extra-head %}
{{ block.super }}
  <meta name="description" content="{{ post.body|striptags|truncatewords:20 }}">
{% endblock %}

{% block content %}
<div class="post">
  {% include 'blog/post.html' %}
</div>

<div class="disqus">
{% if settings.DEGBUG %}{% disqus_dev %}{% endif %}
{% disqus_show_comments %}
</div>

<div id="pagenav">
  <a class="button" href="../../">Browse all posts &raquo;</a>
</div>
{% endblock %}
