<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1"><![endif]-->

  <title>{% if request.path != '/' %}{% block title %}{% endblock %} - {% endif %}{{ site_name }}</title>

  <meta name="robots" content="index, follow">
  <meta name="author" content="{{ site_authors }}">
  {% block extra-head %}{% endblock %}
  
	<!--  iPhone/iPad/Opera Mobile Viewport Fix:
	device-width : Make sure webpages occupy full width of the screen in its current orientation (portrait or landscape)
	initial-scale = 1.0 retains dimensions of the page instead of zooming out if page height is larger than device height
	maximum-scale = 1.0 retains dimensions of the page instead of zooming in if page width is smaller than device width
	
  More at: http://j.mp/mobileviewport
           http://davidbcalhoun.com/2010/viewport-metatag 	 -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">

  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="//media.voxinfinitus.net/stylesheets/960.css">
  <link rel="stylesheet" href="//media.voxinfinitus.net/stylesheets/style.css">
  <!-- For the less-enabled mobile browsers like Opera Mini -->
  <link rel="stylesheet" media="handheld" href="//media.voxinfinitus.net/stylesheets/handheld.css">

  <!-- All JavaScript at the bottom, except for.. -->
  <script src="/js/modernizr-1.5.min.js"></script>

</head>

<!-- http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if gt IE 9]>  <body>             <![endif]-->
<!--[if !IE]><!--> <body>         <!--<![endif]-->

{% block headerwrap %}
  <div id="header">
    <div class="container_12">
      <div class="grid_12">
        {% block header %}<p id="headertext"><a class="headertext" title="Vox Infinitus" href="/">Vox Infinitus</a></p><p id="headertext"><ul id="headetext"><li><a class="headertext" href="/articles/blog">blog</a></li><li><a href="/about">about</a></li></ul></p>{% endblock %}
      </div>
	  <!-- end .grid_12 -->
	  <div class="clear"></div>
    </div>
  </div>
{% endblock %}

{% block indexwrap %}
  <div id="indexheader">
    <div class="container_12">
      <div class="grid_12">
        {% block indexheader %}{% endblock %}
      </div>
	  <!-- end .grid_12 -->
	  <div class="clear"></div>
    </div>
  </div>
{% endblock %}

  <div id="body">
    <div class="container_12">
      <div class="grid_12">
        {% block content %}{% endblock %}
      </div>
	  <!-- end .grid_12 -->
	  <div class="clear"></div>
    </div>
  </div>

  <div id="footer">
    <div class="container_12">
      <div class="grid_4">
        <h2>VoxInfinitus.net</h2>
        <p>Fork us on <a href="http://github.com/max-countryman/voxinfinitus">GitHub</a> &mdash; <em>ex astris ad astra.</em></p>
	  </div>
	  <!-- end .grid_4 -->
      <div class="grid_4">
        <p class="ir">This bit of text you're not supposed to see. So if 
        you're reading this, congratulations, you've discovered something
        that really shouldn't be here...
        </p>
	  </div>
	  <!-- end .grid_4 -->
      <div class="grid_2">
        <h3>About Us</h3>
          <ul>
            <li><a href="/about">What is this?</a></li>
            <li><a href="/about/#services">Things we do</a></li>
            <li><a href="/about/#irc">The IRC network</a></li>
          </ul>
      </div>
	  <!-- end .grid_2 -->

      <div class="grid_2">
        <h3>Participate</h3>
          <ul>
            <li><a href="//twitter.com/voxinfinitus">Follow us on Twitter</a></li>
            <li class="connect"><a href="//chat.voxinfinitus.net/?randomnick=1&amp;channels=voxinfinitus">chat.voxinfinitus.net</a></li>
          </ul>
      </div>
	  <!-- end .grid_2 -->
	  <div class="clear"></div>
    </div>
  </div>


  <!-- JavaScript -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="../js/plugins.js"></script>
  <script src="../js/script.js"></script>

      {% if google_analytics_id %}
        <script type="text/javascript">
        /* <![CDATA[ */
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google_analytics_id|escapejs }}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        /* ]]> */
        </script>
      {% endif %}

  <!--[if lt IE 7 ]>
    <script src="../js/dd_belatedpng.js"></script>
  <![endif]-->


</body>
</html>
