<!doctype html>  

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% if request.path != '/' %}{% block title %}{% endblock %} - {% endif %}{{ site_name }}</title>

  <meta name="robots" content="index, follow">
  <meta name="author" content="{{ site_authors }}">
  {% block extra-head %}{% endblock %} 

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="//media.voxinfinitus.net/stylesheets/style.css?v=0.4">
  <!-- All JavaScript at the bottom, except for.. -->
  <script src="//media.voxinfinitus.net/js/modernizr-1.6.min.js"></script>

</head>

<body> 

{% block headerwrap %}
  <div id="header">
    <div class="container_12">
      <div class="grid_12">
        {% block header %}
          <p id="headertext"><a title="Vox Infinitus" href="/">Vox Infinitus</a></p>
          <ul id="inline-header-text">
            <li><a class="top-menu" href="/blog/articles">blog</a></li>
            <li><a class="top-menu" href="/about">about</a></li>
          </ul>
        {% endblock %}
      </div>
      <!-- end .grid_12 -->
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}

{% block indexwrap %}
  <div id="indexheader">
    <div class="container_12">
      <div class="grid_12">
        {% block indexheader %}{% endblock %}
      </div>
      <!-- end .grid_12 -->
      <div class="clear"></div>
    </div>
  </div>
{% endblock %}

  <div id="body">
    <div class="container_12">
      <div class="grid_12">
        {% block content %}{% endblock %}
      </div>
      <!-- end .grid_12 -->
      <div class="clear"></div>
    </div>
  </div>

  <div id="footer">
    <div class="container_12">
      <div class="grid_4">
        <h2>VoxInfinitus.net</h2>
        <p>Fork us on <a href="//github.com/max-countryman/voxinfinitus">GitHub</a> &mdash; <em>ex astris ad astra.</em></p>
      </div>
      <!-- end .grid_4 -->
      <div class="grid_4">
        <p class="ir">This bit of text you're not supposed to see. So if 
        you're reading this, congratulations, you've discovered something
        that really shouldn't be here...
        </p>
      </div>
      <!-- end .grid_4 -->
      <div class="grid_2">
        <h3>About Us</h3>
          <ul>
            <li><a href="/about">What is this?</a></li>
            <li><a href="/about/#services">Things we do</a></li>
            <li><a href="/about/#irc">The IRC network</a></li>
          </ul>
      </div>
      <!-- end .grid_2 -->

      <div class="grid_2">
        <h3>Participate</h3>
          <ul>
            <li><a href="//twitter.com/voxinfinitus">Follow us on Twitter</a></li>
            <li class="connect"><a href="//chat.voxinfinitus.net/?randomnick=1&amp;channels=voxinfinitus">chat.voxinfinitus.net</a></li>
          </ul>
      </div>
      <!-- end .grid_2 -->
      <div class="clear"></div>
    </div>
  </div>

  <!-- JavaScript -->
  <script src="//media.voxinfinitus.net/js/plugins.js"></script>
  <script src="//media.voxinfinitus.net/js/script.js"></script>
  
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); </script>
  <![endif]-->

      {% if google_analytics_id %}
        <script type="text/javascript">
        /* <![CDATA[ */
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google_analytics_id|escapejs }}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        /* ]]> */
        </script>
      {% endif %}

</body>
</html>
