{% extends "base.html" %}

{% block title %}Discover{% endblock %}

{% block logowrapper %}{% endblock %}

{% block mainwrapper %}{% endblock %}


{% block contentcenter %}
   <h2><a name="manifesto">Manifesto</a></h2>
      <div id="multicolumn">
         <p>We are a group of individuals concerned (but still optimistic!) about the direction the law is taking with regard to our liberties, specifically in the context of 
information technology. Over the course of 
the 
last 
several decades media and the way in which we consume it has changed drastically. Increasingly we find that the Internet is vastly relevant to our lives. But even as this happens special interests are competing for the right to 
tell us exactly what, where, when, and how we consume media.</p>
   <p>The problem with this is that some of us believe that access to information is a fundamental right. See when we try to capitalize something that everyone should be able to benefit from we inherently limit 
the 
potential of humankind as a whole. Besides that, there are practical reasons such as for our own protection from monetization of public commodities. Because of this we also advocate for transparency in government and its 
constituent pieces.</p>
   <p>Now we find that as the promulgation of information technology proliferates every corner of the globe some nations and political bodies have begun to control how their citizens are able to access this information. In some 
cases 
there are 
concerted efforts to implement outright, unabashed censorship. So we decided it was time to lend a hand to those whose rights to freedom of expression has been oppressed, both on and off the 'net. Here we provide network 
services, free of 
charge, that will allow for a platform from which said individuals may work free of censorship. We employ a Squid proxy that will allow circumvention of some filtering practices, offer Web page hosting, and full-featured Unix-like shell accounts. </p>
   <p>It is our goal to advocate advancement of individual liberty in all contexts. We believe that the advent of the World Wide Web has created a new platform that will forever transform and expand our 
freedoms and so to that end we will seek to ensure that no voice goes unheard, that no authoritarian, tyrannical, oppressive government, corporation, or other body may prohibit anyone from their fundamental rights as human 
beings to free expression.</p>
   </div>

   <h2><a name="policy">Policy</a></h2>
   <p>VoxInfinitus.net anonymizes, obfuscates, and deletes unneeded technical information, such as client connections. However we reserve the right to retain technical 
information in the event of an attack or other circumstance related to network abuse and for testing network integrity/stability. In such cases, the information we have withheld will be destroyed as soon as it is no longer needed.</p>
   <p>It is our goal to protect your privacy, and we will never release any personally identifiable information about connecting hosts unless a strict set of conditions is met: (1) with your consent; or (2) when it is required 
by law, such as pursuant to a subpoena or other judicial or administrative order.</p> 
   <p>If we are required by law to disclose such information, we will attempt to provide you with notice (unless we are prohibited) that a request for your information has been made in order to give you an opportunity to object 
to the disclosure.</p>
   <p>Last Modified: August 22, 2010</p>

   <h2><a name="donate">Donate</a></h2>
   <p>The costs of running this network are continually growing. In order to maintain optimal service at no charge we rely on your donations. If you have a couple of pennies you could throw our way we would greatly 
appreciate that! Currently you can send us your donation via PayPal or if you have a spare box that is equipped with a viable flavor of *NIX we would be happy to make use of that as well. To speak with us directly about how you 
can help, feel free to <a href="//chat.voxinfinitus.net/?randomnick=1&amp;channels=voxinfinitus">connect</a> our IRC network and contact an administrator.</p>
{% endblock %}


