{% extends "base.html" %}
{% block headerwrap %}{% endblock %}
{% block content %}
        <h1 id="logo">Vox Infinitus</h1>
          
        <h2>A Community</h2>
          <p><strong>Vox Infinitus is a community</strong> for people seeking
          to preserve freedom of expression, specifically in the context of
          modern information technology.
          </p>

        <h3>The New Frontier?</h3>
          <p>The Web is a bit of a new frontier, so to speak. However it has
          already proved to be one of the most influential. In large part we
          believe this is because of the unfettered access new ideas have had
          to resources.          
          </p>
          <p>We think the Web is awesome! Seemingly its potential is
          enormous. So we want to advocate for things that we believe will
          maintain the qualities that have allowed the Internet to be what
          it is today.
          </p>

        <h3>Internet Relay Chat</h3>
          <p>IRC is the primary context in which our community happens. For
          detailed connection instructions <a href="/about#irc">check out</a> 
          the IRC section on the About page or use the Connect button
          directly below to connect with the <a href="//chat.voxinfinitus.net/?randomnick=1&channels=voxinfinitus">Web interface</a>.
          </p>
          <p>All hostmasks are always encrypted, this means peers can't see
          your IP. However if you prefer stronger anonymity, we do offer a
          <a href="/about#tor">Tor</a> hidden service.
          </p>
{% endblock %}
