{% extends "base.html" %}

{% block headerwrapper %}{% endblock %}

{% block maincontent_left %}
  <h2>The New Frontier</h2>
  <p>It's time we stood up and demanded our rights: with the dawn of the age of information technology we find ourselves in a new context within which our liberties presently have been greatly expanded. Now is 
the time to ensure that our right of equal and fair access to information is not marginalized by corporate interests.</p>
  <p><strong>Vox Infinitus</strong> provides <a href="/services/" title="Network Services">network services</a> to those seeking to encourage and solidfy equal and free access to information, protect freedom of expression, and 
promote 
transparency in 
government.</p>
  <p>These services are provided at absolutely no cost! That's right, our server time is your time at no cost to you. The only qualifying factor is that you use the resources to promote free expression. This may seem a bit 
ambiguous, so check out our <a href="/services/" title="Network Services">services</a> page for a better description.</p>
{% endblock %}

{% block maincontent_right %}
  <h2>Connect With the Community</h2>
  <p>As a public service open to everyone we maintain a robust, international <acronym class="button-info" title="Internet Relay Chat">IRC</acronym> network. Please feel free to drop by and say hi.</p>
  <p class="feature">Webchat is available for easy connection at <a href="//chat.voxinfinitus.net/?randomnick=1&amp;channels=voxinfinitus" title="IRC Webchat">chat.voxinfinitus.net</a>. Alternatively direct your favorite IRC 
client to 
irc.voxinfinitus.net on port 6667 or for SSL/TLS 6697.</p>
  <p>All connecting hostmasks are encrypted and displayed as a hash in order to preserve geolocational anonymity. We also offer a <a href="//voxinfinitus.net/participate/#tor">Tor hidden service</a> for truly anonymous 
connections.</p>
{% endblock %}

{% block contentcenter %}
{% endblock %}


