    <div id="main" class="fluid_grid_layout"> 
      <div class="six_column section">
        <div class="one column">
          <div class="column_content">
            {% block mainleftsidebar %}{% endblock %}
          </div>
        </div>
        <div class="four column">
          <div class="column_content">
            {% block maincontent %}{% endblock %}
          </div> 
        </div>
        <div class="one column">
          <div class="column_content">
            {% block mainrightsidebar %}{% endblock %}
          </div>
        </div>
      </div>
    </div>