{% extends "base.html" %}

{% block title %}Participate{% endblock %}

{% block logowrapper %}{% endblock %}

{% block mainwrapper %}{% endblock %}


{% block contentcenter %}
  <h2><a name="how-to-connect">How To Connect</a></h2>
  <p>Connecting to the IRC network couldn't be easier. While some may prefer the ease of the webchat interface, others will prefer the traditional IRC client. For those of you wishing to use a client, you can use your 
primary roundrobin, irc.voxinfinitus.net on port 6667. We recommend using SSL/TLS which is acessible on port 6697 or 9999. Make sure your client is configured to use SSL/TLS. You may need to set this on a server-by-server 
basis.</p>
  <h3><a name="tor">Tor Hidden Service</a></h3>
  <p>We are particularly strong advocates of privacy and anonymity, for this reason all connecting clients display an encrypted hostmask, rather than their actual IP. However if you prefer stronger anonymity, we offer a Tor 
Hidden Service at o4ukkv3l2be242za.onion on port 6667. Configuration of Tor and your client is beyond the scope of this article. Please consult the documentation associated with your client.</p>
  <h2><a name="feedback">Feedback</a></h2>
  <p>Have some questions or comments? Great! We'd love to hear from you. The best way to get in touch with us is on the IRC network. Generally at least one staff member is active at any given time. Connecting to the network 
couldn't be easier, we have a <a href="//chat.iukkoth.net/?randomnick=1&channels=voxinfinitus">webchat client</a> available. If you prefer to use your favorite client, you can connect to irc.voxinfinitus.net. We use the 
standard port, 6667, for regular connections, and port 6697 for 
SSL/TLS 
connections.</p>
  <h2><a name="twitter">Twitter</a></h2>
  <p>We post regular updates to <a href="http://twitter.com/voxinfinitus">Twitter</a> regarding the status of the network. For up-to-the-minute updates and announcements follow @VoxInfinitus. See you there!</p>
  <h2><a name="likeminded-projects">Likeminded Projects</a></h2>
  <p>Below you'll find a list of several other sites that have similar goals in one way or another to Vox Infinitus.</p>
  <ul>
    <li><a href="https://alkasir.com/" title="alkasir: Circumventing Cyber-Censorship">alkasir</a></li>
    <li><a href="http://www.mideastyouth.com/" title="Mideast Youth: Thinking Ahead">Mideast Youth</a></li>
    <li><a href="http://advocacy.globalvoicesonline.org/" title="GlobalVoices Advocacy">GlobalVoices Online</a></li>
    <li><a href="http://opennet.net/" title="OpenNet Initiative">OpenNet</a></li>
    <li><a href="http://www.eff.org/" title="Electronic Frontier Foundation">EFF</a></li> 
 </ul>
{% endblock %}
