{% extends "base.html" %}

{% block title %}Participate{% endblock %}

{% block logowrapper %}{% endblock %}

{% block mainwrapper %}{% endblock %}


{% block contentcenter %}
  <h2><a name="hosting">Free Hosting</a></h2>
  <p>If you are in need of hosting for a project that is geared towards open and free expression we can provide you just that, at no cost!</p>
  <p>What's the catch? Well there really isn't one. So long as you are using the server time for the proposed project we'll be happy to host you for free. If you're interested just <a 
href="//chat.voxinfinitus.net/?randomnick=1&amp;channels=voxinfinitus">get ahold</a> of an administrator on the 
IRC network. Please prepare a brief description of what your project is and what kinds of services you'll require, such as PHP or database access. In some cases it may take us as long as 48 hours to set things up, but in most 
cases 
we'll be able to assist you right away.</p>
  <h2><a name="shell">Unix Shell Access</a></h2>
  <p>Unix-like shells are also available, free of charge. These are full-featured userspaces, running on Arch Linux. If you're interested please <a 
href="http://chat.voxinfinitus.net/?randomnick=1&amp;channels=voxinfinitus">contact 
us</a>. All we ask is a brief description of what you'll use the account 
for.</p>
  <h2><a name="squid">Squid Proxy</a></h2>
  <p>Sadly some political and commercial entities are imposing restrictions on the data that flows through the Internet. One way of getting around these firewalls is to use a proxy. Squid is a powerful tool that provides a 
way around censorship. We offer this service to political activists whose voice is being marginalized by their government.</p>
  <p>To use this service we'll need to create a personalized account for you. If you're interested, simply contact us via <a 
href="http://chat.voxinfinitus.net/?randomnick=1&amp;channels=voxinfinitus">IRC</a>. Please 
let us 
know 
how 
you'll use the proxy. We'll provide you with the necessary 
connection 
information and you'll be good to go.</p>
{% endblock %}


